extends layouts/main
include mixins/videoBlock

block content
    .videos
        each item in videos
            +videoBlock({
                title:item.title,
                videoFile:item.videoFile,
                views:item.views
                })