extends layouts/main
include mixins/videoBlock

block content
    .videos
        each item in videos
            a(href=routes.videoDetail(item.id))
                +videoBlock({
                    id:item.id,
                    title:item.title,
                    videoFile:item.videoFile,
                    views:item.views
                    })